.uploader{
    position:relative;
    display:inline-block;
    overflow:hidden;
    cursor:default;
    padding:0;
    margin:10px 0px;
    -moz-box-shadow:0px 0px 5px #ddd;
    -webkit-box-shadow:0px 0px 5px #ddd;
    box-shadow:0px 0px 5px #ddd;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.filename{
    float:left;
    display:inline-block;
    outline:0 none;
    height:40px;
    width:500px;
    margin:0;
    padding:8px 10px;
    overflow:hidden;
    cursor:default;
    border:1px solid;
    border-right:0;
    font:9pt/100% Arial, Helvetica, sans-serif; color:#777;
    text-shadow:1px 1px 0px #fff;
    text-overflow:ellipsis;
    white-space:nowrap;

    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;

    background:#f5f5f5;
    background:-moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f5f5f5));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f5f5f5',GradientType=0);
    border-color:#ccc;

    -moz-box-shadow:0px 0px 1px #fff inset;
    -webkit-box-shadow:0px 0px 1px #fff inset;
    box-shadow:0px 0px 1px #fff inset;

    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.button{
    float:left;
    height:40px;
    display:inline-block;
    outline:0 none;
    padding:8px 12px;
    margin:0;
    cursor:pointer;
    border:1px solid;
    font:bold 9pt/100% Arial, Helvetica, sans-serif;

    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    border-radius:0px 5px 5px 0px;

    -moz-box-shadow:0px 0px 1px #fff inset;
    -webkit-box-shadow:0px 0px 1px #fff inset;
    box-shadow:0px 0px 1px #fff inset;
}


.uploader input[type=file]{
    position:absolute;
    top:0; right:0; bottom:0;
    border:0;
    padding:0; margin:0;
    height:30px;
    cursor:pointer;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity:0;
}

input[type=button]::-moz-focus-inner{padding:0; border:0 none; -moz-box-sizing:content-box;}
input[type=text]::-moz-focus-inner{padding:0; border:0 none; -moz-box-sizing:content-box;}

/* White Color Scheme ------------------------ */

.white .button{
    color:#555;
    text-shadow:1px 1px 0px #fff;
    background:#ddd;
    background:-moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0);
    border-color:#ccc;
}

.white:hover .button{
    background:#eee;
    background:-moz-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#eeeeee));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee',GradientType=0);
}

.metadata input {
    outline-style: none;
    border-radius: 5px;
    padding: 3px 0;
    margin: 10px 0;
    width: 580px;
}

.customButton {
    outline-style: none;
    border-radius: 5px;
    padding: 3px 0;
    margin: 10px 0;
    width: 75px;
}

.customButton:hover {
    background: #E86ED0;
}

.metadata input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

*{
    padding: 0;
    margin-left: 0;
}
input[type='radio'] {
    width: 20px;
    height: 20px;
    vertical-align:middle;
    display: inline-block;
    background: transparent url(../icons/radio.png) no-repeat left top;
    cursor:pointer;
}

#way1,#way2,#update,#deleteById {
    display: none;
}

textarea {
    outline-style: none;
    border-radius: 5px;
    padding: 3px 0;
    margin: 10px 0;
    width: 580px;
}

textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.envelope input {
    outline-style: none;
    border-radius: 5px;
    padding: 3px 0;
    margin: 10px 0;
    text-align: center;
}

table {
    text-align: center;
}

.envelope input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.dateselect {
    width: 100px;
}

