<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>QueryByIdServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByIdServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>QueryByIdNonServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByIdNonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByNameNonServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByNameNonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByKeywordsNonServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByKeywordsNonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByOwnerNonServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByOwnerNonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByBoundingBox</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByBoundingBoxServlet</servlet-class>
    </servlet>
<!--    <servlet>-->
<!--        <servlet-name>QueryByFileTypeServlet</servlet-name>-->
<!--        <servlet-class>com.csw.servlet.util.QueryByFileTypeServlet</servlet-class>-->
<!--    </servlet>-->
    <servlet>
        <servlet-name>QueryByOrganizationNonServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByOrganizationNonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllRecordsNumServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.GetAllRecordsNumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertiesSingleServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.PropertiesSingleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryResultByPageServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryResultByPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByRegistryDateServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByRegistryDateNonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByStartAndEndDateServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByStartAndEndDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManualInsertServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.ManualInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoInsertServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.AutoInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSuggestInfoServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.GetSuggestInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.UpdateDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDataByIdServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.DeleteDataByIdServlet</servlet-class>
    </servlet>
<!--    <servlet>-->
<!--        <servlet-name>GetNewestInfoServlet</servlet-name>-->
<!--        <servlet-class>com.csw.servlet.util.GetNewestInfoServlet</servlet-class>-->
<!--    </servlet>-->
    <servlet>
        <servlet-name>GetInfoCountServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.GetInfoCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMoreNewestInfoServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.GetMoreNewestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByKeywordsServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByKeywordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByNameServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByOrganizationServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByOwnerServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByOwnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByRegistryDateNonServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.QueryByRegistryDateNonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClimateDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.ClimateDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EcologicalDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.EcologicalDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnergyDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.EnergyDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvironmentDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.EnvironmentDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeologicalHazzardDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.GeologicalHazardDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeyBandDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.KeyBandDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiteraturePictureDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.LiteraturePictureDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MineralResourceDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.MineralResourceDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StratigraphicPaleontologyDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.StratigraphicPaleontologyDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaterResourcesDataServlet</servlet-name>
        <servlet-class>com.csw.servlet.util.WaterResourcesDataServlet</servlet-class>
    </servlet>
    <!--    Spring配置-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvcConfig.xml</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>WaterResourcesDataServlet</servlet-name>
        <url-pattern>/html/waterResourcesData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StratigraphicPaleontologyDataServlet</servlet-name>
        <url-pattern>/html/stratigraphicPaleontologyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MineralResourceDataServlet</servlet-name>
        <url-pattern>/html/mineralResourceData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiteraturePictureDataServlet</servlet-name>
        <url-pattern>/html/literaturePictureData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeyBandDataServlet</servlet-name>
        <url-pattern>/html/keyBandData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeologicalHazzardDataServlet</servlet-name>
        <url-pattern>/html/geologicalHazzardData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvironmentDataServlet</servlet-name>
        <url-pattern>/html/environmentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnergyDataServlet</servlet-name>
        <url-pattern>/html/energyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EcologicalDataServlet</servlet-name>
        <url-pattern>/html/ecologicalData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClimateDataServlet</servlet-name>
        <url-pattern>/html/climateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByOwnerServlet</servlet-name>
        <url-pattern>/html/queryByOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByRegistryDateServlet</servlet-name>
        <url-pattern>/html/queryByRegistryDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByOrganizationServlet</servlet-name>
        <url-pattern>/html/queryByOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByNameServlet</servlet-name>
        <url-pattern>/html/queryByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByKeywordsServlet</servlet-name>
        <url-pattern>/html/queryByKeywords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByIdNonServlet</servlet-name>
        <url-pattern>/html/queryByIdNon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/html/downloadFile</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>-->
<!--        <servlet-name>GetMoreNewestInfoServlet</servlet-name>-->
<!--        <url-pattern>/html/getMoreNewestInfo</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>GetInfoCountServlet</servlet-name>-->
<!--        <url-pattern>/getInfoCount</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>GetNewestInfoServlet</servlet-name>-->
<!--        <url-pattern>/getNewestInfo</url-pattern>-->
<!--    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>DeleteDataByIdServlet</servlet-name>
        <url-pattern>/html/deleteDataById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDataServlet</servlet-name>
        <url-pattern>/html/updateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSuggestInfoServlet</servlet-name>
        <url-pattern>/html/getSuggestInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoInsertServlet</servlet-name>
        <url-pattern>/html/autoInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManualInsertServlet</servlet-name>
        <url-pattern>/html/manualInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByStartAndEndDateServlet</servlet-name>
        <url-pattern>/html/queryByStartAndEndDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByRegistryDateNonServlet</servlet-name>
        <url-pattern>/html/queryByRegistryDateNon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryResultByPageServlet</servlet-name>
        <url-pattern>/html/queryResultByPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertiesSingleServlet</servlet-name>
        <url-pattern>/html/getSingleProperties</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>-->
<!--        <servlet-name>GetAllRecordsNumServlet</servlet-name>-->
<!--        <url-pattern>/html/queryAllRecordsNum</url-pattern>-->
<!--    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>-->
<!--        <servlet-name>IndexServlet</servlet-name>-->
<!--        <url-pattern>/header</url-pattern>-->
<!--    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/html/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByOrganizationNonServlet</servlet-name>
        <url-pattern>/html/queryByOrganizationNon</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>-->
<!--        <servlet-name>QueryByFileTypeServlet</servlet-name>-->
<!--        <url-pattern>/html/queryByFileType</url-pattern>-->
<!--    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>QueryByBoundingBox</servlet-name>
        <url-pattern>/html/queryByBoundingBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByOwnerNonServlet</servlet-name>
        <url-pattern>/html/queryByOwnerNon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByKeywordsNonServlet</servlet-name>
        <url-pattern>/html/queryByKeywordsNon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/webservice/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByIdServlet</servlet-name>
        <url-pattern>/html/queryById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByNameNonServlet</servlet-name>
        <url-pattern>/html/queryByNameNon</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
