<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csw.dao.AssociationDAO">
    <insert id="insertData" useGeneratedKeys="true" keyProperty="association.id">
        insert into association(id,home,lid,description,name,objecttype,status,versioninfo,
        associationtype,sourceobject,targetobject) values (#{association.id},
        #{association.home},#{association.lid},#{association.description.id},
        #{association.name.id},#{association.objectType.id},#{association.status.id},
        #{association.versionInfo.id},#{association.associationType.id},#{association.sourceObject.id},
        #{association.targetObject.id})
    </insert>
    <select id="selectAssociationById" resultMap="association">
        select
        id,
        home,
        lid,
        description d_id,
        name n_id,
        objecttype o_id,
        status s_id,
        versioninfo v_id,
        associationtype at_id,
        sourceobject so_id,
        targetobject to_id
        from
        association
        where
        id = #{id}
    </select>
    <delete id="deleteAssociationById">
        delete from association where id = #{id}
    </delete>
    <resultMap id="association" type="com.csw.model.Association">
        <id property="id" column="id"/>
        <result property="home" column="home"/>
        <result property="lid" column="lid"/>
        <association property="description" resultMap="com.myown.ResultMap.internationalString" columnPrefix="d_"/>
        <association property="name" resultMap="com.myown.ResultMap.internationalString" columnPrefix="n_"/>
        <association property="objectType" resultMap="com.myown.ResultMap.objectRef" columnPrefix="o_"/>
        <association property="status" resultMap="com.myown.ResultMap.objectRef" columnPrefix="s_"/>
        <association property="versionInfo" resultMap="com.myown.ResultMap.versionInfo" columnPrefix="v_"/>
        <association property="associationType" resultMap="com.myown.ResultMap.objectRef" columnPrefix="at_"/>
        <association property="sourceObject" resultMap="com.myown.ResultMap.objectRef" columnPrefix="so_"/>
        <association property="targetObject" resultMap="com.myown.ResultMap.objectRef" columnPrefix="to_"/>
    </resultMap>
</mapper>