<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csw.dao.TelephoneNumberDAO">
    <insert id="insertData" useGeneratedKeys="true" keyProperty="telephoneNumber.id">
        insert into telephonenumber(id,areacode,countrycode,extension,number,phonetype,telephonenumber_id)
        values(#{telephoneNumber.id},#{telephoneNumber.areaCode},
        #{telephoneNumber.countryCode},#{telephoneNumber.extension},
        #{telephoneNumber.number},#{telephoneNumber.phoneType.id},#{telephoneNumberId})
    </insert>
    <select id="selectTelephoneNumbersBy_Id" resultMap="telephoneNumber">
        select
        id,
        areacode,
        countrycode,
        extension,
        number,
        phonetype pt_id
        from
        telephonenumber
        where
        telephonenumber_id = #{telephoneNumberId}
    </select>
    <delete id="deleteTelephoneNumberById">
        delete from telephonenumber where id = #{id}
    </delete>
    <resultMap id="telephoneNumber" type="com.csw.model.TelephoneNumber">
        <id property="id" column="id"/>
        <result property="areaCode" column="areacode"/>
        <result property="countryCode" column="countrycode"/>
        <result property="extension" column="extension"/>
        <result property="number" column="number"/>
        <association property="phoneType" resultMap="com.myown.ResultMap.objectRef" columnPrefix="pt_"/>
    </resultMap>
</mapper>